//====================================================================================================
.header {
	position: sticky;
	width: 100%;
	z-index: 50;
	&__menu {
		display: flex;
		justify-content: space-evenly;
	}

	&__logo {
	}

	&__contacts {
		display: flex;
	}
}
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
	}

	&__item {
		padding: 42px 20px;
	}

	&__link {
		font-weight: 500;
		color: #2E363E;
	}
}
.icon-menu {display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.contacts {
	&__column {
		padding: 36px 7.5px;
	}
}
.item {
	&__img {
	}

	&__phone {
		font-weight: bold;
		font-size: 18px;
		line-height: 152%;
	}

	&__about {
		font-size: 12px;
		line-height: 150%;
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
