//====================================================================================================
.welcome {
    padding: 167px 0px 0px 0px;
    @media (max-width:$mobile){
         padding: 50px 0px 0px 0px;
    }
    &__container {
        display: flex;
        @media (max-width:$mobile){
             flex-direction: column;
             align-items: center;
        }
    }

    &__img {
        //flex: 0 0 552px; //??? не дает картинке уменшьшаться
        height: 564px;
        width: 552px;
        overflow: hidden;
        img{
            max-width: 100%;
        }
        @media (max-width:$mobile){
            height: 258px;
            width: 252px;
            margin: 0px 0px 30px 0px; 
       }
    }

    &__content {
        align-items: flex-start;
        flex: 1 1 auto;
        padding: 0px 0px 0px 300px;
        *:last-child{
            margin-bottom: 0;
        }
        @media (max-width:$mobile){
             padding: 0px 0px 0px 0px; 
             text-align: center;
        }
    }

    &__title {
        // @media (max-width:$tablet){
        //         font-weight: bold;
        //         font-size: 28px;
        //         line-height: calc(60 / 48) * 100%;
        // }
        font-weight: bold;
        font-size: 48px;
        line-height: calc(60 / 48) * 100%;
        color: #2E363E;
        margin: 0px 0px 14px 0px;
        @media (max-width:$mobile){
            font-size: 35px;
            line-height: calc(60 / 48) * 100%;
            margin: 0px 0px 35px 0px;   
        }
    }

    &__text {
        font-size: 21px;
        line-height: 143%;
        letter-spacing: -0.2px;
        color: #434B53;
        margin: 0px 0px 83px 0px;
        @media (max-width:$mobile){
            font-size: 20px;
            line-height: 143%;
             margin: 0px 0px 60px 0px; 
        }
    }

    &__btn {
        background: #5D6AFB;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 99px;
        letter-spacing: -1px;
        border-radius: 15px;
        display: inline-flex;
        align-items: center;
        padding: 28px 20px;
        margin: 0px 0px 14px 0px;
        justify-content: center;
        text-align: center;
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #525ee0;
            }
        }
        &._fw {
            width: 100%;
        }
        @media (max-width:$mobile){
            font-size: 25px;
        height: 80px;   
        }
    }
}

.text {
}
//====================================================================================================

.benefits {

    &__container {
    }

    &__title {
        padding: 308px 0px 145px 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 133%;
        color: #2E363E;
        @media (max-width:$mobile){
            padding: 108px 0px 90px 0px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__specifications {
    }

    &__statistics {
    }
}
.specifications {
    &__column {
        display: flex;
        gap: 131px;
        padding: 0px 0px 145px 0px;
        @media (max-width:$mobile){
             flex-direction: column; 
             padding: 0px 0px 70px 0px;
             gap: 70px;
        }
    }
}
.specifications-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    text-align: center;
    align-items: center;
    max-width: 328px;
    margin: 0px auto;

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 84px;
        background: #5D6AFB;
        border-radius: 50%;
        margin: 0px 0px 24px 0px;
    }

    &__title {
        font-size: 21px;
        line-height: 143%;
        color: #2E363E;
        padding: 0px 0px 10px 0px;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        color: #2E363E;
    }
}
.item-specifications {
    align-items: center;
}
.statistics {

    &__column {
        display: flex;
        gap: 49px;
        @media (max-width:$mobile){
            flex-direction: column; 
            gap: 70px;
       }
    }
}
.statistics-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    text-align: center;
    align-items: center;

    &__result {
        // width: 24px;
        // height: 86px;
        font-weight: bold;
        font-size: 60px;
        line-height: 143%;
        color: #5D6AFB;
    }

    &__description {
        font-size: 21px;
        line-height: 143%;
        letter-spacing: -0.2px;
        color: #2E363E;
    }
}
.item-statistics {
}
